<p>
  <%= form.label :content %><br />
  <%= form.text_area :content %>
</p>
<%= javascript_include_tag "fckeditor/fckeditor" %>
<script type="text/javascript">
FCKeditor.BasePath = "/javascripts/fckeditor/";
var fckEditor = new FCKeditor('question_content');
fckEditor.ReplaceTextarea();
</script>
