<h1>Listing questions</h1>
<table>
  <h3>answerable questions</h3>
  <tr>
    <th>title</th>
    <th>IdentityUrl</th>
  </tr> 
  <%= render :partial => 'question', :collection => @answerable_questions %>
</table>
<table>
  <h3>answered questions</h3>
  <tr>
    <th>title</th>
    <th>IdentityUrl</th>
  </tr> 
  <%= render :partial => 'question', :collection => @answered_questions %>
</table>

<br />

<%= link_to 'New question', new_question_path %>
