@import url("./tablesorter/themes/blue/style.css");
div#head { border-bottom:1px dashed silver; }
div#status { border-left:1px solid black; height: 43px; padding:1.0em; margin:0.5em;}
img.icon { margin: 0; float: none; }

