<p>
  <b>Regex:</b>
  <%=h @openid_regex.regex %>
</p>

<p>
  <b>Title:</b>
  <%=h @openid_regex.title %>
</p>


<%= link_to 'Edit', edit_openid_regex_path(@openid_regex) %> |
<%= link_to 'Back', openid_regexes_path %>
